* {
  margin: 0.5vh;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira sans', sans-serif;
}

h1,
h2,
h3 {
  color: var(--lr-primary-400);
  font-family: var(--f-accent);
  font-weight: 900;
  line-height: 1;
}



body {
  background: #8e9eab;  /* fallback for old browsers */
  background: linear-gradient(to top, #8e9eab,  #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



h1 {
  font-size: 8vw;
  font-family: 'Monoton', cursive;
  text-shadow: 2px 8px lightgray;
  color: 	#f8f8ff;
}



.title h2 {
  font-size: 6vw;
  margin-top: 0.5em;
  color: grey;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 5px white;
}



.title {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#BBHeader {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sectionHeaders {
  font-size: 5vw;
  color: #f8f8ff;
  font-family: 'Monoton', cursive;
  /* text-shadow: 2px 5px lightgrey; */
  text-align: center;
  margin: 3em 0 2em 0;
  /* padding-top: 38px; */
}

img {
  max-width: 100%;
}


.grid {
  color: grey;
  max-width: 95%;
  margin: auto;
}

.col {
  background-color: pink;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  min-height: 160px;
  border: solid 1px black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  scale: 1;
  transition: all .28s ease;
  gap: 6vh;
  display: flex;
}

.col:hover {
  margin-left: 10px;
  max-width: calc(90vh);
  transform: scale(1.15);
  cursor: pointer;
}


.mail {
  display: flex;
  flex-direction:column;
  background-color: pink;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  min-height: 50px;
  font-size: 3vh;
  border: solid 1px black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  scale: 1;
  transition: all .28s ease;
}

.mail:hover {
  margin-left: 10px;
  max-width: calc(90vh);
  transform: scale(1.15);
  cursor: pointer;
}





.navContainer {
  font-family: 'Monoton', cursive;

  color: 	#f8f8ff;
  font-size: 2vw;
  margin: 5em;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  gap: 5px;
  margin: 0px 10px;
  padding: 15px;
  border-radius: 20px;
  background: dimgray;
}

.navBtn {
  font-size: 6vw;
  transition: color .3s ease;
}

.navBtn:hover {
  color: grey;
  cursor: pointer;
}

.modalBtn {
  color: grey;
  cursor: pointer;
  transition: color .3s ease;
}

.modalBtn:hover {
  cursor: pointer;
  color: #f1f1f1;
}

.visibleContainer {
  background-color: dimgrey;
  border-radius: 20px;;
}

.mailHeader {
  margin-top: 10%;
  padding-top: 0;
}


.reply {
  display: inline-block;
  padding-top: 8px;
  text-align: center;
  align-content: center;
  align-self: flex-end;
  background: dimgrey;
  color: #f1f1f1;
  min-height: 4vh;
  min-width: 13vw;
  font-size: 2vh;
  border-radius: 25px;
  transition: color .3s ease;
}

.reply:hover {
  color: grey;
  background: #f1f1f1
}

@media (min-width: 40em) {
  .grid {
    color: grey;
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 16px;
  }

  .grid-item-foundMail {
    padding-top: 1px;
    border-radius: 20px;
    background: dimgrey;
    align-items: center;
    grid-row-end: 5;
    grid-row-start: 2;
    grid-column-start: 2;
  }


  .col {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 3vh;
  }

  .navContainer {
    display: flex;
  }

  .navBtn {
    display: block;
    font-size: 2.2vw;
    margin: 0.2vw 1vw;
    text-shadow: 2px 2px lightgray;
  }

  .sectionHeaders {
    font-size: 3vw;
  }

  .title h2 {
    margin-top: 0.5em;
    font-size: 3vw;
  }

  .grid-item-events {
    display: grid;
    background: dimgrey;
    width: 97%;
    margin: 10px auto;
    border-radius: 20px;
  }


  .reply {
    display: inline-block;
      padding-top: 8px;
      text-align: center;
      align-content: center;
      align-self: flex-end;
      background: dimgrey;
      color: #f1f1f1;
      min-height: 4vh;
      min-width: 10vw;
      font-size: 2vh;
      border-radius: 25px;
  }
}





@media (min-width: 80em) {

  .col {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 3vh;
  }

  .mail {
    display: flex;
    font-size: 3vh;
  }

  .bulletinContainer {
    display: grid;
    grid-template-columns: 10px 30% auto 10px;
    grid-template-rows: 20% 25% 15%;
  }

  .grid-item-post {
    grid-column-start: 2;
    grid-row-start: 1;
  }


  .grid-item-BB {
    grid-column-start: 3;

  }

  .grid-item-foundMail {
    border-radius: 20px;
    background: dimgrey;
    align-items: center;
    grid-row-end: 5;
    grid-row-start: 2;
    grid-column-start: 2;
  }

  .sectionHeaders {
    font-size: 2vw;
    margin-left: 20px;
  }

  .grid-item-events {
    display: grid;
    background: dimgrey;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: auto;
    width: 97%;
    margin: 10px auto;
    border-radius: 20px;
  }

  .grid-clicks {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .reply {
    display: inline-block;
    padding-top: 6px;
    text-align: center;
    align-content: center;
    align-self: flex-end;
    background: dimgrey;
    color: #f1f1f1;
    min-height: 4vh;
    min-width: 7vw;
    font-size: 2vh;
    border-radius: 25px;
  }

}









label {
  margin-top: 1em;
  padding: 9px 6px;
  font-size: 2vh;

}

input {
  padding: 0px 0;
  height: 6vh;
  margin: 15px;
}

.submitBtn {
  border: 2px solid black;
  background: transparent;
  color: black;
  cursor: pointer;
  border-radius: 18px;
  border-radius: 33px;
  font-size: 20px;
  height: 60px;
  width: 200px;
  padding: 0 10px;
  position: relative;
  margin-top: 22px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.submitBtn:hover {
  background-color: black;
  color: white
}

